# github페이지로하는 배포가 아니라면 gitignore로 제외시켜도
# 로컬에서는 인증키 정보가 있으니까 api나 secret정보를 받아올수있지않나?
# github페이지로하는 배포가 아니라면 주석을 해제하고 제외시키고 올려야 이 정보들이 올라가지 않는다.


# github에 파일을 포함시켜서 올리면 api정보를 가져오지 못해서 배포를 위한 주석처리
#config.js